<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Корзина</title>
</head>
<body>
    <h1>Корзина</h1>
    <ul>
        {% for item in cart %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
    <div class="links">
        <a class="styled-link" href="{{ url_for('games') }}">Назад к играм</a>
    </div>
</body>
</html>
