<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Игры</title>
</head>
<body>
    <h1>Игры</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="container">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <h2>Шутеры</h2>
    <div class="section">
        {% for game in shooter %}
        <div>
            <h3>{{ game.title }}</h3>
            <img src="{{ game.image }}" alt="{{ game.title }}">
            <p>{{ game.description }}</p>
            <a class="styled-link" href="{{ url_for('add_to_cart', game_title=game.title) }}">Добавить в корзину</a>
        </div>
    {% endfor %}
    </div>
    <h2>Гонки</h2>
    <div class="section">
        {% for game in racing %}
        <div>
            <h3>{{ game.title }}</h3>
            <img src="{{ game.image }}" alt="{{ game.title }}">
            <p>{{ game.description }}</p>
            <a class="styled-link" href="{{ url_for('add_to_cart', game_title=game.title) }}">Добавить в корзину</a>
        </div>
    {% endfor %}
    </div>
    
    <h2>Стратегии</h2>
    <div class="section">
        {% for game in strategy %}
        <div>
            <h3>{{ game.title }}</h3>
            <img src="{{ game.image }}" alt="{{ game.title }}">
            <p>{{ game.description }}</p>
            <a class="styled-link" href="{{ url_for('add_to_cart', game_title=game.title) }}">Добавить в корзину</a>
        </div>
    {% endfor %}
    </div>
    <div class="links">
        <a class="styled-link" href="{{ url_for('index') }}">Назад</a>
        <a class="styled-link" href="{{ url_for('view_cart') }}">Перейти в корзину</a>
    </div>
    
</body>
</html>
