<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Game App</title>
</head>
<body>
    <h1>Добро пожаловать в интернет-магазин игр!</h1>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="container">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <div class="links">
        <a class="styled-link" href="{{ url_for('register') }}">Регистрация</a>
        <a class="styled-link" href="{{ url_for('games') }}">Игры</a>
        <a class="styled-link" href="{{ url_for('view_cart') }}">Корзина</a>
    </div>
</body>
</html>
