<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Регистрация</title>
</head>
<body>
    <h1>Регистрация</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="container">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <form method="POST">
        <div class="input-container">
            <input type="text" id="username" name="username" placeholder=" " required>
            <label for="username">Имя пользователя</label>
        </div>
        <div class="input-container">
            <input type="password" id="password" name="password" placeholder=" " required>
            <label for="password">Пароль</label>
        </div>
        <div class="input-container">
            <input type="number" id="age" name="age" placeholder=" " required>
            <label for="age">Возраст</label>
        </div>
        <div class="links">
            <a class="styled-link" href="{{ url_for('index') }}">Назад</a>
            <button type="submit" class="styled-link">Зарегистрироваться</button>
        </div>
        
    </form>
</body>
</html>
